*{padding: 0;margin: 0;}
.header1 {background: #fe4f3a; }
.header1 img{margin: 0px  auto;height: 150px;display: block;}
.header2{
    background:#000;
    height: 40px;
}
.head2{
    background-color: #000;
    height: 40px;
}
.header2 a:hover{
    color: #fff;
}
.header2 a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color:#b0b0b0;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    
}
.header2 span{
    margin: 0 .3em;
    color: #424242;
    font-size: 12px;

}
.main{
    height:100%;
    width: 1226px;
    margin: 0 auto;
    
}
.head4 {
    float: right;
   height: 40px;

}
.head4 .modal-footer{position: fixed;bottom: 0px;margin: 10px   40px;}

.head4 .modal-content{height:550px ;overflow: auto;margin-bottom: 40px;}
.head4 .modal-header{background: #d3d3d3;}
.head4 .deng{
    border: none;
    display: inline-block;
    height: 30px;
    line-height: 10px;
    color:#b0b0b0;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    background: #000;
    outline: none;
}
.head4 span {display:block; float: right;}
.head4 a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color:#b0b0b0;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    margin: 0 15px;

}
.part1{ height: 100px;font-size: 18px;overflow: hidden;color: #333333;}

.part1 img,.part1 ol {display: block;float: left;margin:25px auto;}
.part1  form{display: block;float: right;margin:25px auto;}
.part1  form div {border-radius: 0px;}
.part1  form div  .form-control{height: 50px;border-radius: 0px;}
.part1  form  .btn{height: 50px;margin: -5px;border-radius: 0px;}
.part1 ol {list-style: none;height: 50px; margin-left: 190px;float: left;}
.part1 li{display: inline-block;font-size: 18px;line-height: 50px;margin: 0 5px;}

.part2 {height: 460px;position: relative;}
 .part2 a,a:hover  {text-decoration: none;}
.part2  .left {width: 234px;height: 460px;background: #90989d;
    opacity: 0.5;position: absolute;top: 0;z-index: 6;}
    .part2 ol{ padding: 20px 0 ;width: 234px;height: 460px;
    } 
    .part2  .left div {width: 992px;position: absolute;left: 234px;height: 460px;display: flex;justify-content: space-between;}  
    .part2  .left div li{list-style: none;width: 280px;height: 95px;}
.part2 li{height: 42px;line-height: 42px;
   list-style: none;padding-left: 30px;color: white;font-size: 12px;z-index: 4;width: 234px;}
.left a:hover li{background-color: orangered;opacity: 1;color: white;}
.part2 img {height: 460px;width: 1226px;}
.part2 .swiper-button-prev{position: relative;left: 234px;top: -212px;}
.swiper-container{width: 1226px;;height: 460px;}
.part3{height: 210px; display: flex;box-sizing: border-box;justify-content:space-between ;
}
.part3 .p1{color: #bcb9b6; text-align: center;
    width: 234px;height: 170px;justify-content: space-around;background: #5f5750;}
.part3 ol{width: 234px;height: 170px;justify-content: space-around;background: #5f5750;}
.part3 .p1 li{  padding :0 3px;opacity: 0.7;font-size: 12px;
    width: 75px;height: 82px;border: 1px #77706a solid;background: #5f5750;list-style: none;float: left;border-bottom: none;}
.part3 div, .part3 div img{width: 315px; height: 170px;}
.part3 .p1 img{width: 25px;height: 25px;margin: 15px 0 5px;}
.part3 div, .part3 .p1 {margin: 15px 0 25px;}

.miaos {height: 425px;background: #f5f5f5;justify-content: space-between;overflow: hidden;}
.miaos .m1  {width: 235px;height: 340px;margin-left: 12px;float: left;background: #fff;}
.miaos .left{width: 235px;height: 340px;background: #f1eded;border-top: 1px red solid;float: left;}
.miaos  span{position: relative; height: 60px;font-size: 25px;line-height: 60px;display: block;overflow: hidden;}
.miaos #m4{margin-left: 0;width: 235px;height: 340px;float: right;background: #fff;} 
.miaos .swiper-button-prev{position: absolute;left: 1150px;color: #cdbdb4; font-size: 25px; }
.miaos .swiper-button-next {color: #cdbdb4;
    font-size: 25px; }
.miaos  img{width: 200px;height: 225px;}
.tainc1 img ,.tainc1{width: 1226px;height: 120px;}
.tain {height: 730px;background-color: #f5f5f5;}
.tain span {display: block;margin-top:  40px ;font-size: 18px;}
.yan {background: #f5f5f5;}
.tain .naniu{float: right;}
#cjk{position: relative;}
.ma {width: 120px;height: 120px;margin: 15px;position: absolute;left: -42.5px ;z-index: 5;background: #fff;display: none;}
.ma img{width: 90px;height: 90px; }
.tain .left,.tain .left img {width: 234px;height: 615px;float: left;}
.tain .shop1,.tain ol {width: 992px;height: 615px;;}
.tain .shop1{float: right;}
.tain ol{display: flex;justify-content: space-around;flex-wrap :wrap }
.tain li{width: 235px;height: 300px;list-style: none;background: white;word-break:break-all;text-align: center;margin-bottom: 10px;}
.miaos .left{text-align: center;}
.miaos .left span{margin-top:60px}
.miaos .left img{width: 40px ;height: 60px;}
.miaos .timeall div{height: 50px;width: 50px;float: left;background: #605751;line-height: 50px;margin-left: 12px;}
.miaos .timeall{height: 50px;margin-left: 35px;color: #fff;}
.tain ol a:hover {transform:  translateY(-5px) ;}
.tain ol img{height: 150px;width: 150px;margin-top:25px ;}
.tain h4{margin-top: 25px}
.tain ol span{margin: 0;}